body {
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-image: url(/6.jpg)
}

#layer {
 background-color: rgba(250, 250, 250, 0.95);
 max-width: 800px;
  margin: 20px auto;
  padding: 5px 30px 20px;
  box-shadow: 1px 1px 4px 2px #4b3621;
  border-radius: 5px;
}

p {
  margin-top: 0;
  text-align: justify;
}

h1, h2, h3 {
  font-weight: 550;
  margin: 0;
  color: #335555; 
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  border-bottom: 1px #b2beb5 solid;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
}

#header {
  margin-bottom: 10px;
  text-align: center;
}

.main_section_item {
  margin-bottom: 16px;
}

#footer {
  text-align: center;
}

a {
  color: #8a3324 ;
  text-decoration-line: none;
  font-size: 15px;
}

